@media only screen and (max-width: 750px){
    .header-btn.header-boards {
        padding: 0 !important;
    }
    .header-btn.open-search-btn{
        display: block;
    }
    .header-btn-text{
        display: none;
    }
    .header-info{
        display: none !important;
    }   
    #header .header-search{
        display: none;
    }
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #c2ccc5;
}

.container{
    margin-left: 20px;
    margin: auto;
    width:80%;
    overflow: hidden;
}
header .container{
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
   
    overflow: hidden;
}
ul{
    margin:0;
    padding: 0;
}

.big_button{
    height:60px;
    width: 200px;
    background: #4a4a5a;
    border: none;
    color: #dbe3ee;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

.big_button:hover{
    background: #b55d5c;
}

.small_button{
    height:40px;
    width: 140px;
    background: #37465b;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #dbe3ee;
}

.small_button:hover{
    background: #cf9090;
}

#cancel_button{
    margin:25px;
    align-items: center;
    width: 30%;
    position: relative;

}

.button_wrapper{
    text-align: center;
}



#branding{
    padding-left: 30px;
}

a {
    text-decoration:none;
}



/*Table*/
#description{
    padding: 0px;
    margin: 0px;
    width:100%;
}
#description h1{
    text-align: center;
    color: #dbe3ee;
    font-size: 35px;
}
#description p{
    text-align: center;
    color: #dbe3ee;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
}
#teacher_list{
    background: #716678;;
    margin:0px;
    padding: 0px;
    min-height: 400px;
    padding-top: 20px;
    
}
#teachers{
    background: #dbe3ee;
    border-collapse: collapse;
    width: 100%;
}


#teachers th{
    width:30%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #4a4a5a;
}
#teachers tr:first-child{
  
    background: #b55d5c;
}
#teachers tr:first-child th{
  
    color: #dbe3ee;
    text-transform: uppercase;
    font-weight: bold;
}

#teachers th a{
    text-decoration: none;
    color: #4a4a4a;
}
footer{
    margin-top:0px;
    padding: 5px;
    text-align: center;
    background-color: #37465b;
    color: #dbe3ee;
}

#surface {

    display:flex;
    flex-direction:column;
    height: 100%;
    

}

#surface > #header {
    flex:none;

}

/*Header*/
#header{
    
    background-color: #37465b;
    overflow:hidden;
    padding: 4px;
    z-index:10;
}

#header .header-btn{
    height: 32px;
    position: relative;
}
.header-logo {
    bottom: 0;
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    top: 5px;
    width: 80px;
    text-align: center;
    color:#ffffff;
    
    z-index: 2;
}

.header-btn {
   
    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-weight: 700;
    line-height: 32px;
    margin-right: 4px;
    min-width: 32px;
    padding: 0
    
}
.header-btn.header-boards{
    padding-left: 26px;
}
.header-btn.header-notifications{
    width: 32px;
}
.header-btn.header-avatar{
    background-color: #a6a9ad;
    border-radius: 25em;
}
.header-btn-text{
    padding:0 8px;
    margin-left: 10px;
}
.header-btn-icon{
    

    position:absolute;
    top:10%;
    left:10%;
    height:25px;
    width: 25px;
}
.open-search-btn{
    display: none;
}
.header-user {
    position: absolute;
    top: 4px;
    right: 0;
}

.header-search{
    float: left;
    margin: 0 8px 0 0;
    position: relative;
    z-index:1;
}


.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#logged_message {
    padding-left: 10px;
    color: #dbe3ee;
    font-size: 20px;
}