body {
    background-color: #716678;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    margin: -8px;


}


.section-wrapper{
    background-color:#eeeeee;
    border-style: solid;
    border-color: #888888;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 100px;
  
    width: 400px;
    vertical-align: middle;
}

h1{
    text-align: center;
    padding: 15px 25px 0 25px;
    font-size: 1.777em;
    line-height: 1.2em;
    margin-top: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #37465b;

}

label{
    padding: 2px;
    display: flex;
}

.form-container{
    margin: auto;
    padding: 15px 25px 15px;

}

input[type=submit] {
    width: 100%;
    background-color: #37465b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8888FF;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

header .container{
    width:100%;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

#header{

    background-color: #37465b;
    overflow:hidden;
    padding: 4px;
    z-index:10;
    margin: -8px;

}

#header, .header-btn{
    height: 32px;
    position: relative;
}
.header-logo {
    bottom: 0;
    display: block;
    height: 30px;
    left: 50%;
    margin-top: 5px;
    margin-left: -40px;
    position: absolute;
    top: 5px;
    width: 80px;
    text-align: center;
    color:#ffffff;

    z-index: 2;
}

.header-btn {

    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-weight: 700px;
    line-height: 32px;
    margin-right: 4px;
    min-width: 32px;
    padding: 0

}
.header-btn.header-boards{
    padding-left: 26px;
}
.header-btn.header-notifications{
    width: 32px;
}
.header-btn.header-avatar{
    background-color: #a6a9ad;
    border-radius: 25em;
}
.header-btn-text{
    padding:0 8px;
    margin-left:10px;
}
.header-btn-icon{


    position:absolute;
    top:10%;
    left:10%;
    height:25px;
    width: 25px;
}
.open-search-btn{
    display: none;
}
.header-user {
    position: absolute;
    top: 4px;
    right: 0;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
