<!DOCTYPE html>
<html lang= "en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Web Application that eases the management of licence or master's degree thesis.">
        <meta name="keywords" content="web application, faculty, thesis, licence, education">
        <meta name="author" content="Birleanu Andrei-Cristian, Mihai Elena Sorina, Tinca Ketano-Leonard, Velicescu Laura">
        <title>AcaTisM | View Students </title>
        <link rel="stylesheet" href="../CSS/style_view_studs.css">
    </head>
    <body>
        <header>
            <nav id="header">
                <a class="header-logo" aria-label="AcaTisM Home">AcaTisM</a>
                <div class="header-back-button">
                    <a class="header-btn" href="./view-profs.html" aria-label="Back to home">
                        <img class="header-btn-icon" src="../img/home.png" alt="H">
                    </a>
                </div>
                <div class="header-boards-button">
                    <a class="header-btn header-boards" href="./progress.html" aria-label="Boards">
    
                        <img class="header-btn-icon" src="../img/progres.png" alt="P">
    
                        <span class="header-btn-text">Progress</span>
    
                    </a>
                </div>
                <div>
    
                    <a class="header-btn open-search-btn" href="./search.html" title="Search for projects">
                        <img class="header-btn-icon" src="../img/search.png" alt="S">
                    </a>
                    <div class="header-search">
                        <input class="header-search-input focus" type="text">
                        <span class="header-search-icon icon-lg icon-search light">
                            <img class="header-btn-icon" src="../img/search.png" alt="S">
    
                        </span>
    
                    </div>
                </div>
                <div class="header-user">
                    <a class="header-btn" href="./create.html" title="Create a project">
                        <img class="header-btn-icon" src="../img/plus.png" alt="+">
                    </a>
                    <a class="header-btn header-info" aria-label="Open info menu">
                        <img class="header-btn-icon" src="../img/info.png" alt="i">
                    </a>
                    <a class="header-btn header-notifications other-notifications" href="#" aria-label="Notifications">
                            <img class="header-btn-icon" src="../img/notification.png" alt="N">
                    </a>
                    <a class="header-btn header-avatar js-open-header-member-menu" href="user.html" aria-label="Open Member Menu">
    
                        <span class="member-initials" title="Tinca Ketano (tincaketano)">TK</span>
                    </a>
                </div>
            </nav>
        </header>

     
        <section id ="description">
            <div class="containerdescription" >
                <div class="container">
                    <button class="profile_shape" onclick="location.href='change_photo.html'">
                        <img  class="profile_pic" src="../img/profile.png" alt="Profile">
                        <p class="change_profile">Change</p>
                    </button>
                    <div class="container">
                        <div class="username">
                            <h1>NumeProfesorPrenumeProfesor</h1>
                            <p >nume.prenume@info.uaic.ro</p>
                        </div>
                        <button class="edit_profile" onclick="location.href='settings.html'">
                                <img  class="edit_img" src="../img/edit.png" alt="Edit" >
                                <p style="float:right;margin:5px 5px 0 0;">Edit profile</p>
                        </button>
                    </div>
                </div>
               
                
            </div>
            
            <div class="container">
                <nav>
                    <ul>
                        <li  ><a href="user.html">Timeline</a></li>
                        <li style="background:white;"><a href="cards.html">View Students</a></li>
                        <li><a href="settings.html">Settings</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section id="student_list">
                <div id="head">
                    <h1>Follow your students' progress!</h1>
                    <p>You can see here the name of the students enrolled in one of your projects, as well as the name of the project and its status. You also can take a look at their boards, to add tasks and see what they've submitted so far.</p>
                </div>
                <table id="students">
                    <tr>
                        <th>Students</th>
                        <th>Name of the project</th>
                        <th>Progress</th>
                        <th>Board</th>
                    </tr>
                    <tr>
                        <th>Birleanu, Andrei</th>
                        <th><p>Find my car</p></th>
                        <th>30%</th>
                        <th><button class="small_button" onclick="location.href='./progress.html'">Board</button></th>
                    </tr>
                    <tr>
                        <th>Velicescu, Laura</th>
                        <th><p>Top Music</p></th>
                        <th>60%</th>
                        <th><button class="small_button" onclick="location.href='./progress.html'">Board</button></th>
                    </tr>
                    <tr>
                        <th>Tinka Ketano</th>
                        <th><p>Just Dance for Mobile</p></th>
                        <th>75%</th>
                        <th><button class="small_button" onclick="location.href='./progress.html'">Board</button></th>
                    </tr>
                    <tr>
                        <th>Mihai Sorina Elena</th>
                        <th><p>Photoshop v2.0</p></th>
                        <th>10%</th>
                        <th><button class="small_button" onclick="location.href='./progress.html'">Board</button></th>
                    </tr>
                    <tr>
                        <th>Ionescu, Popescu</th>
                        <th><p>Linux translator</p></th>
                        <th>33%</th>
                        <th><button class="small_button" onclick="location.href='./progress.html'">Board</button></th>
                    </tr>
                    
                </table>
        </section>
        <footer>
            <p>AcaTisM App, Copyright &copy; 2019</p>
        </footer>
    </body>
</html>