<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">

    <title>AcaTisM | Home</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web Application that eases the management of licence or master's degree thesis.">
    <meta name="keywords" content="web application, faculty, thesis, licence, education">
    <meta name="author" content="Birleanu Andrei-Cristian, Mihai Elena Sorina, Tinca Ketano-Leonard, Velicescu Laura">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/homepage.css">

</head>

<body>
    <div id="surface">
        <nav id="header">
            <a class="header-logo" aria-label="AcaTisM Home">AcaTisM</a>
            <div class="header-back-button">
                <a class="header-btn" href="./homepage.html" aria-label="Back to home">
                    <img class="header-btn-icon" src="../img/home.png" alt="H">
                </a>
            </div>
            <div class="header-boards-button">
                <a class="header-btn header-boards" href="./boards.html" aria-label="Boards">

                    <img class="header-btn-icon" src="../img/progres.png" alt="P">

                    <span class="header-btn-text">Progress</span>

                </a>
            </div>
            <div>

                <a class="header-btn open-search-btn" href="./search.html" title="Search for projects">
                    <img class="header-btn-icon" src="../img/search.png" alt="S">
                </a>
                <div class="header-search">
                    <input class="header-search-input focus" type="text">
                    <span class="header-search-icon icon-lg icon-search light">
                        <img class="header-btn-icon" src="../img/search.png" alt="S">

                    </span>

                </div>
            </div>
            <div class="header-user">
                <a class="header-btn" href="./create.html" title="Create a project">
                    <img class="header-btn-icon" src="../img/plus.png" alt="+">
                </a>
                <a class="header-btn header-info" aria-label="Open info menu">
                    <img class="header-btn-icon" src="../img/info.png" alt="i">
                </a>
                <a class="header-btn header-notifications other-notifications" href="#" aria-label="Notifications">
                        <img class="header-btn-icon" src="../img/notification.png" alt="N">
                </a>
                <a class="header-btn header-avatar js-open-header-member-menu" href="#" aria-label="Open Member Menu">

                    <span class="member-initials" title="Tinca Ketano (tincaketano)">TK</span>
                </a>
            </div>
        </nav>
        <div id="content" tabindex="-1">
            <div class="home-container">
                <div class="home-sticky-container">
                    <div style="position: sticky; top: 0px; ">
                        <nav class="home-left-sidebar-container">
                            <div>
                                <ul class="home-left-sidebar-ul">
                                    <li class="home-left-sidebar-ul-li">
                                        <a href="./progress.html" class="home-left-sidebar-ref">
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="home-left-sidebar-ul-li"></li>
                                </ul>
                            </div>
                        </nav>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>

</html>