<!DOCTYPE html>
<html lang="en-US">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web Application that eases the management of licence or master's degree thesis.">
    <meta name="keywords" content="web application, faculty, thesis, licence, education">
    <meta name="author" content="Birleanu Andrei-Cristian, Mihai Elena Sorina, Tinca Ketano-Leonard, Velicescu Laura">
    <title>AcaTisM | Welcome! </title>
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/main.css">
</head>
 
<body>
    <header>
        <div class="container">
            <div id="branding">
                <a href="index.html">
                    <h1><span class="highlight">AcaTisM</span></h1>
                </a>
            </div>
            <nav>
 
                <button class="small_button_login" onclick="location.href='login.html'">Login</button>
                <button class="small_button_signup" onclick="location.href='signup.html'">Sign-Up</button>
 
            </nav>
        </div>
    </header>
 
    <section id="showcase">
        <div class="container">
            <div class="welcome_text">
                <h1>Work more efficiently on your thesis!</h1>
                <p>AcaTisM lets you work efficiently and provides better means of communication with your teacher, in
                    your aim to obtain your next degree.</p>
            </div>
            <div class="welcome-image">
                
            </div>
            <div class="container">
                <button class="big_button" onclick="location.href='signup.html'">Sign-Up Now!</button>
            </div>
        </div>
    </section>
    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="../img/teacher.png" alt="Teacher">
                <h3>Find Your Teacher</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu bibendum magna. </p>
            </div>
            <div class="box">
                <img src="../img/calendar.png" alt="calendar">
                <h3>Keep yourself organized</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu bibendum magna.</p>
            </div>
            <div class="box">
                <img src="../img/graduate.png" alt="graduate">
                <h3>Get your degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu bibendum magna.</p>
            </div>
        </div>
    </section>
 
    <footer>
        <p>AcaTisM App, Copyright &copy; 2019</p>
    </footer>
</body>
 
</html>