<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/search.css">
    <script src="main.js"></script>
</head>

<body>
    <div class="ui">
        <nav id="header">
           <a class="header-logo" onclick="location.href='./view-profs.html'"  aria-label="AcaTisM Home">AcaTisM</a>
            <div class="header-back-button">
                <a class="header-btn" href="./view-profs.html" aria-label="Back to home">
                    <img class="header-btn-icon" src="../img/home.png" alt="H">
                </a>
            </div>
            <div class="header-boards-button">
                <a class="header-btn header-boards" href="./progress.html" aria-label="Boards">

                    <img class="header-btn-icon" src="../img/progres.png" alt="P">

                    <span class="header-btn-text">Progress</span>

                </a>
            </div>
            <div>

                <a class="header-btn open-search-btn" href="./search.html" title="Search for projects">
                    <img class="header-btn-icon" src="../img/search.png" alt="S">
                </a>
                <div class="header-search">
                    <input class="header-search-input focus" type="text">
                    <span class="header-search-icon icon-lg icon-search light">
                        <img class="header-btn-icon" src="../img/search.png" alt="S">

                    </span>

                </div>
            </div>
            <div class="header-user">
                <a class="header-btn" href="./progress.html " title="Create a project">
                    <img class="header-btn-icon" src="../img/plus.png" alt="+">
                </a>
                <a class="header-btn header-info" aria-label="Open info menu">
                    <img class="header-btn-icon" src="../img/info.png" alt="i">
                </a>
                <a class="header-btn header-notifications other-notifications" href="#" aria-label="Notifications">
                    <img class="header-btn-icon" src="../img/notification.png" alt="N">
                </a>
                <a class="header-btn header-avatar js-open-header-member-menu" href="#" aria-label="Open Member Menu">

                    <span class="member-initials" title="Tinca Ketano (tincaketano)">TK</span>
                </a>
            </div>
        </nav>
        <div class="s003">
            <form>
              <div class="inner-form">
               
                <div class="input-field second-wrap">
                  <input id="search" type="text" placeholder="Enter Keywords?" />
                </div>
                <div class="input-field third-wrap">
                  <button class="btn-search" type="button">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
    </div>

</body>

</html>